
@model IEnumerable<FilExplorer.DataLayer.Models.FolderModel>
<div class="container">
    <div class="row form-group product-chooser">
        @foreach (var item in Model.ToList())
        {
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                <div id=@item.FolderID class="product-chooser-item">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title NewText">
                                <i class="fa fa-folder-open text-warning"></i> @Html.DisplayFor(modelItem => item.Name)
                            </div>
                        </div>
                        <div class="panel-body">
                            <ul>
                                @foreach (var file in item.Files.ToList())
                                {
                                    <li>
                                        <a href=@file.FilePath>
                                            @Html.DisplayFor(modelItem => file.Name)
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        }
    </div>
</div>


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $(function() {
        $('div.product-chooser').not('.disabled').find('div.product-chooser-item').on('click', function() {
            $(this).parent().parent().find('div.product-chooser-item').removeClass('selected');
            $(this).addClass('selected');
            //alert($(this).attr('id'));
            $('#folderID').val($(this).attr('id'));
            $.ajax({
                url: '@Url.Action("GetFolderPath", "Folder")',
                    type: 'GET',
                    data: { folderID: $(this).attr('id') },
                    contentType: 'application/json; charset=utf-8',
                    success: function (response) {
                        //alert();
                        $('#folderName').val(response.toString());
                    },
                    error: function () {
                        //alert("error accessing folder structure");
                    }
                });
           // alert($('#folderName').val());

        });
    });
</script>






