@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1><i class="fa fa-heartbeat"></i>
MediRecords</h1>
    <p class="lead text-warning">Welcome to MediRcords, your online medical records document management system</p>
   
</div>

